name: Docker Nginx Lab

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  docker:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker Image
        run: docker build -t myginx:test .
      - name: Test docker image
        run: | 
          docker run -d -p 8080:80 --name test-nginx mynginx:test
          sleep 5
          curl http://lcoalhost:8080 | grep "Hello from Github Actions"
          docker stop test-nginx
      - name: Push to DockerHub
        run: |
          docker tag mynginx:test ${{ secrets.DOCKER_USERNAME }}/mynginx:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/mynginx:latest
          